* {
    box-sizing: border-box;
}
body {
    font-family: Tahoma, Arial;
}
.quiz-app {
    margin: 20px auto;
    width: 800px;
    background-color: #f8f8f8;
    padding: 15px;
}
.quiz-app .quiz-info {
    display: flex;
    background-color: #FFF;
    padding: 20px;
}
.quiz-app .quiz-info .category {
    flex: 1;
}
.quiz-app .quiz-info .count {
    flex: 1;
    text-align: right;
}
.quiz-app .quiz-area {
    background-color: #FFF;
    padding: 20px;
    margin-top: 15px;
}
.quiz-app .quiz-area h2 {
    margin: 0;
}
.quiz-app .answers-area {
    background-color: #fff;
    padding: 0 20px 20px;
}
.quiz-app .answers-area .answer{
    background-color: #f9f9f9;
    padding: 15px;
}
.quiz-app .answers-area .answer:not(:last-child) {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 10px;
}
.quiz-app .answers-area .answer input[type='radio']:checked + label { /* كداانا بقولو الانبول اللي واخد اتربيوت تايب بيساوي ريديو في حالة انو حصلو شيكد ز كان الانبوت دا بعدة مباشرتا او اخوة المباشر اللي بعدة مباشرتا لابولل */
    color: #0075ff;
}
.quiz-app .answers-area .answer label {
    cursor: pointer;
    font-weight: bold;
    color: #777;
    font-size: 14px;
    margin-left: 5px;
    position: relative; /* علشان نديلو توب و يسمع فية من غير ما ندي الاب بوزيشن يبقي لو عاوزين نحرك اي عنصر بالنسبة لفنسة و لو كان الاب م واخد اي بوزيشن يبقي ندي للعنصر الللي عاوزين نحركو بوزيشن ريليتف علشان يتحرك بالنسبة لنفسو */
    top: -2px;
}
.quiz-app .submit-button {
    background-color: #0075ff;
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    margin: 20px auto;
}
.quiz-app .submit-button:focus {
    outline: none;
}
.quiz-app .bullets {
    border-top: 1px solid #dfdfdf;
    background-color: #fff;
    display: flex;
    padding: 20px;
}
.quiz-app .bullets .spans {
    flex: 1; /* كدا هياخد عرض الاب كلو لان مفيش اخ معاه */
    display: flex; /* علشان البوليت و السبان و العناصر اللي جواها نظبكها */
}
.quiz-app .bullets .spans span { /* مش ادينا ديسبلاي بلوك ولا ان لاين بلوك حتي علشان الاب فليكس لكن لو مكنش الاب فليكس كنا لازم ندي علي الافل ديسبلاي ان لاين بلوك علشان الطول و العرض و الخصائص اللي هنديهالو تسمع فية */
    height: 20px;
    width: 20px;
    background-color: #ddd;
    margin-right: 5px;
    border-radius: 50%;
}
.quiz-app .bullets .spans span.on {
    background-color: #0075ff;    
}
.quiz-app .result {
    text-align: center;
    margin: 25px 0 15px;
}
.quiz-app .result span {
    font-weight: bold;
}
.quiz-app .result span.bad {
    color: red;
}
.quiz-app .result span.good {
    color: #009688;
}
.quiz-app .result span.perfect {
    color: #0075ff;
}